.App {
    font-family: sans-serif;
    text-align: center;
  }

  .divStyle {
    border: 4px solid black;
    margin: 20px auto;
    padding: 50px;
    border-radius: 35px;
    width: 400px;
  };

/* .buttonStyle button {
    background-Color: #5463FF;
    border: none;
    border-Radius: 50px;
    color: white;
    padding: 10px 32px;
    text-Align: center;
    text-Decoration: none;
    display: inline-block;
    font-Size: 16px;
    margin: 40px 2px;
    cursor: pointer;
  }; */
